{% extends "base.html" %}
{% block content %}
<table><tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>Major</td><td>{{ object.Major }}</td></tr>
<tr><td>Description</td><td>{{ object.Description }}</td></tr>
<tr><td>GPA</td><td>{{ object.GPA }}</td></tr>
<tr><td>GPA_major</td><td>{{ object.GPA_major }}</td></tr>
<tr><td>show_gpa</td><td>{{ object.show_gpa }}</td></tr>
<tr><td>show_gpa_major</td><td>{{ object.show_gpa_major }}</td></tr>
<tr><td>date_started</td><td>{{ object.date_started }}</td></tr>
<tr><td>date_ended</td><td>{{ object.date_ended }}</td></tr>
</table>
{% endblock %}
<a href="{{object.get_update_url}}">Edit Education</a>
