{% extends "base.html" %}
{% block content %}
<table><tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>date_started</td><td>{{ object.date_started }}</td></tr>
<tr><td>date_ended</td><td>{{ object.date_ended }}</td></tr>
<tr><td>description</td><td>{{ object.description }}</td></tr>
<tr><td>url</td><td>{{ object.url }}</td></tr>
<tr><td>is_current</td><td>{{ object.is_current }}</td></tr>
</table>
{% endblock %}
<a href="{{object.get_update_url}}">Edit Project</a>
